*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
body {
  background-color: black;
  color: white;
  font-size: 40px;
}
.superior{
  width: 100%;
  height: 200px;
  background-color: rgb(5, 255, 88);
}
.contendio{
  width: 100%;
  height: 600px;
  background-color: #61dafb;
}
.footer{
  width: 100%; height: 150px; 
  background-color: rgb(3, 255, 36);
}